<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
android:allowBackup="true"
android:dataExtractionRules="@xml/data_extraction_rules"
android:fullBackupContent="@xml/backup_rules"
android:icon="@mipmap/ic_launcher"
android:label="@string/app_name"
android:roundIcon="@mipmap/ic_launcher_round"
android:supportsRtl="true"
android:theme="@style/Theme.BackgroundProcess_Runner"
tools:targetApi="31">

        <service
        android:name=".BackgroundService1"
        android:enabled="true"
        android:exported="false" />
        <service
            android:name=".locationservice4"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"/>
        <service
            android:name=".BackgroundService5"
            android:foregroundServiceType="dataSync"
        android:exported="false" />
        <service
            android:name=".BackgroundService3"
            android:enabled="true"
            android:exported="false" />
    <service
    android:name=".NotificationService2"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="location"
        />
<activity android:name=".MainActivity"
android:exported="true">
<intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
</activity>
    <activity android:name=".P1activity"/>
    <activity android:name=".P2activity"/>
    <activity android:name=".P3activity"/>
    <activity android:name=".P4activity"/>
    <activity android:name=".P5activity"/>
    <activity android:name=".P6activity"/>
    <activity android:name=".Infoactivity"/>
</application>
    </manifest>